@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  background-color: #fff;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto; }
body > .w-100 {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover; }
body#student.index {
  background-color: #2dbfae; }
body#student > .w-100 {
  background-image: url("../img/ui/bg-student.png");
  background-color: #2dbfae; }
body#teacher.index {
  background-color: #6cc96c; }
body#teacher > .w-100 {
  background-image: url("../img/ui/bg-teacher.png");
  background-color: #6cc96c; }

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
a:hover {
  text-decoration: none; }

.bg-student {
  background-color: #2dbfae; }

.bg-teacher {
  background-color: #6cc96c; }

.title {
  position: relative;
  z-index: 1; }

.title-pic {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 40%; }

.bg-login {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem; }

.header-first {
  position: relative;
  z-index: 1; }

.header-second {
  position: relative;
  z-index: 0;
  margin-top: -50px; }

.logo-topboss {
  max-width: 250px; }

.img-character {
  max-width: 75px; }

.img-face {
  max-width: 200px; }

.table-sm {
  font-size: .85rem; }

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2; }
.table-striped thead {
  color: #fff;
  text-align: center; }
.table-striped thead th:nth-child(odd) {
  background-image: linear-gradient(#08beb6, #40b3be); }
.table-striped thead th:nth-child(even) {
  background-image: linear-gradient(#59ad31, #88cc4f); }
.table-striped tbody td:nth-child(even) {
  background-color: rgba(173, 210, 208, 0.3); }
.table-striped tfoot td:nth-child(even) {
  background-color: rgba(173, 210, 208, 0.1); }

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; }
@media (max-width: 991.98px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 1.125;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dee2e6; }
  .table-responsive > .table {
    margin-bottom: 0; }
  .table-responsive > .table > thead > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
  .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }
  .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }
  .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }

.table-fixed tbody {
  display: block;
  height: 120px;
  overflow: auto; }
.table-fixed thead, .table-fixed tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; }
@media (min-width: 768px) {
  .table-fixed thead {
    width: calc( 100% - 18px); } }

.sub-title {
  color: #fff;
  text-shadow: 0 0 3px #fff;
  letter-spacing: .25rem;
  font-weight: 300; }

.border-bottom-2 {
  border-bottom: 2px solid #3b9fa4; }

.font-small {
  font-size: 0.875rem; }

@media (max-width: 991.98px) {
  .nav-responsive {
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  .nav-responsive .nav {
    display: block;
    white-space: nowrap; }
  .nav-responsive .nav .nav-item {
    display: inline-block; } }
.nav {
  margin: .25rem 0;
  font-size: .85rem; }
.nav .nav-item {
  border-left: 1px solid #3876a0; }
.nav .nav-item:first-child, .nav .nav-item:only-child {
  border-left: 0; }
.nav .nav-link {
  padding: 0 .3rem 0 .5rem;
  line-height: 1; }
.nav .nav-link.active {
  color: #df8c46; }

.nav-top .nav-item {
  border-left: 1px solid #fff; }
.nav-top .nav-link {
  color: #fff; }

.form-input {
  border: 2px solid #2c6c6c !important; }

.btn-submit {
  padding: 1px 0 5px 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  background-image: url("../img/ui/btn.png");
  color: #fff !important;
  text-shadow: 1px 1px 0 #000;
  letter-spacing: 1rem;
  text-align: center;
  border: 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .btn-submit {
    background-image: url("../img/ui/btn@2x.png");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
.btn-group-justified .btn, .btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%; }
.btn-group-justified .btn .btn, .btn-group-justified .btn-group .btn {
  width: 100%; }
.btn-group-justified .btn .dropdown-menu, .btn-group-justified .btn-group .dropdown-menu {
  left: auto; }

[class^="icon-"], [class*="icon-"] {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%; }

[class^="icon-btn-"], [class*="icon-btn-"] {
  width: 24px;
  height: 26px; }

.icon-btn-menu {
  background-image: url("../img/ui/icon-btn-menu.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-btn-menu {
    background-image: url("../img/ui/icon-btn-menu@2x.png");
    -moz-background-size: 24px, 26px;
    -o-background-size: 24px, 26px;
    -webkit-background-size: 24px, 26px;
    background-size: 24px, 26px; } }

.icon-btn-back {
  background-image: url("../img/ui/icon-btn-arw-left.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-btn-back {
    background-image: url("../img/ui/icon-btn-arw-left@2x.png");
    -moz-background-size: 24px, 26px;
    -o-background-size: 24px, 26px;
    -webkit-background-size: 24px, 26px;
    background-size: 24px, 26px; } }

.icon-btn-more {
  background-image: url("../img/ui/icon-btn-more.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-btn-more {
    background-image: url("../img/ui/icon-btn-more@2x.png");
    -moz-background-size: 24px, 26px;
    -o-background-size: 24px, 26px;
    -webkit-background-size: 24px, 26px;
    background-size: 24px, 26px; } }

[class^="icon-common-"], [class*="icon-common-"] {
  width: 32px;
  height: 38px; }

.icon-common-gear {
  background-image: url("../img/ui/icon-gear.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-common-gear {
    background-image: url("../img/ui/icon-gear@2x.png");
    -moz-background-size: 32px, 38px;
    -o-background-size: 32px, 38px;
    -webkit-background-size: 32px, 38px;
    background-size: 32px, 38px; } }

.icon-common-home {
  background-image: url("../img/ui/icon-home.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-common-home {
    background-image: url("../img/ui/icon-home@2x.png");
    -moz-background-size: 32px, 38px;
    -o-background-size: 32px, 38px;
    -webkit-background-size: 32px, 38px;
    background-size: 32px, 38px; } }

.icon-account {
  width: 21px;
  height: 24px;
  background-image: url("../img/ui/icon-account.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-account {
    background-image: url("../img/ui/icon-account@2x.png");
    -moz-background-size: 21px, 24px;
    -o-background-size: 21px, 24px;
    -webkit-background-size: 21px, 24px;
    background-size: 21px, 24px; } }

.icon-password {
  width: 21px;
  height: 24px;
  background-image: url("../img/ui/icon-password.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-password {
    background-image: url("../img/ui/icon-password@2x.png");
    -moz-background-size: 21px, 24px;
    -o-background-size: 21px, 24px;
    -webkit-background-size: 21px, 24px;
    background-size: 21px, 24px; } }

.bg-cyan {
  background-color: #3b9fa4; }

.bg-black {
  background-color: #000; }

.border-gray {
  border-color: #adb5bd; }

.bs {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.bs-strong {
  -moz-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  -webkit-box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3);
  box-shadow: 18px 18px 5px rgba(9, 28, 47, 0.3); }

.v-middle {
  display: table-cell;
  height: 100%;
  vertical-align: middle !important; }

.pos-a-b {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10; }

.pos-a-c {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-50%); }

.pos-a-r {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%); }

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; }
@media (max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px); } }

input[type="text"], input[type="email"], input[type="date"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 2.5rem; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
  color: #3876a0; }

/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
.pushy ul:first-child {
  margin-top: 10px; }
.pushy.pushy-left {
  left: 0; }
.pushy.pushy-right {
  right: 0; }
.pushy .nav .nav-item {
  border-bottom: 1px solid #e9ecef; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-240px, 0, 0);
  -ms-transform: translate3d(-240px, 0, 0);
  transform: translate3d(-240px, 0, 0); }

.pushy-open-left #container, .pushy-open-left .push {
  -webkit-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0); }

.pushy-open-right #container, .pushy-open-right .push {
  -webkit-transform: translate3d(-240px, 0, 0);
  -ms-transform: translate3d(-240px, 0, 0);
  transform: translate3d(-240px, 0, 0); }

.pushy-open-left .pushy, .pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.pushy-open-left .pushy-content, .pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container, .pushy, .push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */ }
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out; }
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0; }
.pushy-submenu button:hover {
  color: #FFF; }
.pushy-submenu > a, .pushy-submenu > button {
  position: relative; }
.pushy-submenu > a::after, .pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden; }
.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible; }
.pushy-submenu-open .pushy-link {
  opacity: 1; }
.pushy-submenu-open a::after, .pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }
